# .gitignore
# Environment
.env
.env.local
.env.production

# Firebase
*.json
firebase-adminsdk-*.json
serviceAccountKey.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

download-books
scripts/downloaded-books/
scripts
tome-bca58-firebase-adminsdk-fbsvc-a33e2c2e86.json